<style>
table {
  text-align: center;
}
th {
  text-align: center;
}
</style>
<%- model_class = Product -%>
<div class="page-header">
  <h1 class='text-center'>音楽ランキング</h1>
</div>
<table class="table table-striped container">
  <thead text-center>
    <tr>
      <th>ランキング</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.id, product_path(product) %><%= product.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_product_path,
            :class => 'btn btn-primary' %>
